<!DOCTYPE html>
<!--step 6-->
<!--Within the add.html template, create a form that accepts inputs for each of the User class properties. -->
<!--Include an additional password input field to verify the password input. -->
<!--The form should be set up to POST to /user.-->


<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--9 two options to import error attribute from UserController.java-->
<!--9 option 1-->
<!--<th:block th:if="error"></th:block>-->
<!--9 option 2-->
<h3 style="color:red;" th:text="${error}"></h3>
<!-- 6a copy form provided in serviceSelection.html-->
<!-- 6b modify form to handle username, email, password, plus verify password from java/../models/User-->
    <form method = 'post' action="/user"> <!--6f The form should be set up to POST to /user. by adding action="/user"-->
<!--    <form method = 'post' th:action="/user">   also works -->
<!--<form method = 'post'             > -->
<!--        6c add new "<label>" "username"-->
        <label>
            Username:
            <!--<input type="text" name="username"/>--> <!--instructor recommends ending tag with / for clarity-->
            <!--10.1 import saved values for repopulating name and email fields-->
            <input type="text" th:value="${username}" name="username"/>

        </label>
<!--        6d add new "<label>" "email"-->
        <label>
            Email:
            <!--<input type="email" name="email"/>--> <!--instructor recommends ending tag with / for clarity-->
            <input type="email" th:value="${email}" name="email"/>

        </label>
<!--        6d add new "<label>" "password"-->
        <label>
            Password:
            <input type="password" name="password"/> <!--instructor recommends ending tag with / for clarity-->
        </label>
<!--        6e add new "<label>" "verify password"-->
        <label>
            Verify Password:
            <input type="password" name="verifyPassword"/> <!--instructor recommends ending tag with / for clarity-->
        </label>
<!--        <label>-->
<!--            Skin type:-->
<!--            <select name = 'skintype'>-->
<!--                <option value = 'oily'>Oily</option>-->
<!--                <option value = 'combination'>Combination</option>-->
<!--                <option value = 'normal'>Normal</option>-->
<!--                <option value = 'dry'>Dry</option>-->
<!--            </select>-->
<!--        </label>-->
<!--        <label>-->
<!--            Manicure or Pedicure?-->
<!--            <select name = 'manipedi'>-->
<!--                <option value = 'manicure'>Manicure</option>-->
<!--                <option value = 'pedicure'>Pedicure</option>-->
<!--            </select>-->
<!--        </label>-->
        <input type = 'submit' value = 'Submit'>
    </form>

</body>
</html>