<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--7a-2 accept user info from UserController &#45;&#45;NB .username might be tymeleaf code-->
<!--<h1 th:text="welcome ${user.username} to your page">Welcome</h1> // 7a-2 accept user info from UserController &#45;&#45;NB .username might be tymeleaf code-->
<!--<h1 th:text="welcome to your page">Welcome</h1> // 7a-2 accept user info from UserController &#45;&#45;NB .username might be tymeleaf code-->
<h1 th:text="">Welcome</h1>

</body>
</html>